body{
    background: url(tactile_noise.png);
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

#container {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#header {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

#content{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    font-weight: 300;
    font-size: larger;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(56, 189, 189);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color:rgb(25, 83, 83);
  }
